<div class="container-fluid">
    <!-- style="min-height: 100%;height: 100%;" -->
    <div class="row">
        
        <div class="col-sm-6 signup">
            <form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm" #myForm="ngForm">
                    <div class="form-group">
                        <h2>Sign Up</h2>
                        <h5 style="color: gray;">Enter details to create your account</h5>
                    </div>

                    <div class="form-group">
                        <label for="title" style="padding-right: 10px;">Title: </label>
                        <div class="radio" style="padding-right: 10px;" *ngFor="let method of title">
                            <input type="radio" name="title" id="title" formControlName="title" [value]="method.id">
                            <label for="title">
                                {{method.name}}
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-6 form-group">
                        <input type="text" id="firstName" placeholder="First Name" class="form-control"
                            formControlName="firstName" minlength="5"
                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" required>


                        <div class="text-danger" *ngIf="f.firstName.touched && f.firstName.invalid">

                            <div *ngIf="f.firstName.errors.required">* First Name is Required</div>
                            <div *ngIf="f.firstName.errors.minlength">First Name contains atleast 5
                                characters</div>

                        </div>
                    </div>

                    <div class="col-sm-6 form-group">
                        <input type="text" id="lastname" placeholder="Last Name" class="form-control"
                            formControlName="lastName" minlength="5"
                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" required>

                        <div class="text-danger" *ngIf="f.lastName.touched && f.lastName.invalid">

                            <div *ngIf="f.lastName.errors.required">* Last Name is Required</div>
                            <div *ngIf="f.lastName.errors.minlength">Last Name required atleast 2
                                characters
                            </div>
                        </div>
                    </div>

                    
                    <div class="col-sm-6 form-group">
                        <input type="email" id="email" placeholder="Email" class="form-control" formControlName="email"
                            name="email" minlength="15" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                            required>


                        <div class="text-danger" *ngIf="f.email.touched && f.email.invalid">
                            <div *ngIf="f.email.errors.required">* Email is Required</div>
                            <div *ngIf="f.email.errors.minlength">Email required atleast 15
                                characters</div>
                            <div *ngIf="f.email.errors.pattern">Invalid Email</div>


                        </div>
                    </div>

                    <div class="col-sm-6 form-group">
                        <input type="text" formControlName="phoneNumber" id="phonenumber" name="phonenumber"
                            placeholder="Phone number" class="form-control">

                    </div>
                
                    <div class="col-sm-6 form-group">

                        <input type="text" placeholder="DOB" name="dob" formControlName="dateOfBirth" class="form-control"
                             bsDatepicker [bsConfig]="{ isAnimated: true }">
                             

                        <!-- <input type="text" id="dob" placeholder="Select your date Of Birth" onfocus="(this.type='date')" class="form-control" formControlName="dob"
                                name="dob"  min="1900-01-01" max="2200-12-31" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                <div class="text-danger" *ngIf="f.dob.touched && f.dob.invalid">
                                    <div *ngIf="f.email.errors.required">* DOB is Required</div>
                                    <div *ngIf="f.email.errors.checkDate">DOB required atleast 15
                                        characters</div>
                                        
    
    
                                </div> -->

                    </div>

                    <div class="form-froup">
                        <input type="hidden" id="role" name="role" value="patient">
                    </div>

                    <div class="col-sm-6 form-group">
                        <input type="password" id="password" placeholder="Password" class="form-control"
                            formControlName="password" name="password" minlength="8"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/">
                        <div class="text-danger" *ngIf="f.password.touched && f.password.invalid">
                            <div *ngIf="f.password.errors.required">* Password is Required</div>
                            <div *ngIf="f.password.errors.minlength">Password required atleast 8
                                characters
                            </div>
                            <div *ngIf="f.password.errors.pattern">Please Enter Valid Password
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 form-group">
                        <input type="password" id="confpassword" placeholder="Confirm Pasword" class="form-control"
                            formControlName="confpassword" name="confpassword" minlength="8"
                            [ngClass]="{ 'is-invalid': submitted && f.confpassword.errors }" required>
                        <div class="text-danger" *ngIf="f.confpassword.touched && f.confpassword.invalid">

                            <div *ngIf="f.confpassword.errors.required">* Confirm password is Required</div>
                            <div *ngIf="f.confpassword.errors.mustmatch">Confirm password did not matched
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        Already Registered? <a href="www.google.com">Login</a>
                    </div>

                    <div class="col-sm-6 form-group">
                        <button class="btn btn-success w-100" [disabled]="!myForm.form.valid">Submit</button>
                    </div>
            </form>
        </div>
    </div>
</div>