<div class="container-fluid">
    <!-- style="min-height: 100%;height: 100%;" -->
    <div class="row">
        <div class="col-sm-6 d-none d-lg-block">
            <img src="../../assets/bg-03.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-sm-6">
            <div class="password-div">
                <form [formGroup]="form" (onsubmit)="submit()">
                    <div class="form-wrapper">
                    <div class="welcome_msg">
                        <h2>Reset Password</h2>
                        <h4 style="color: gray; padding-bottom: 50px;">Let Us Help You</h4>
                    </div>
                    <span class="error_header" style="padding-bottom: 20px;">Enter Registered Email Address</span>
                  
                    <div class="form-group">
                        <input type="text" id="email" placeholder="Email*" class="form-control"
                            formControlName="email">

                      

                        <div class="mat-error ng-tns-c77-3 ng-star-inserted" role="alert" style="color: red; font-size: small;"
                            *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
                            <div *ngIf="form.get('email')?.errors?.required">Please enter a valid email address</div>
                            <div *ngIf="form.get('email')?.errors?.email">Please enter a valid email address</div>
                        </div>

                    </div>
                    
                    <div class="form-btn" style="padding-block: 50px;">
                        <button class="btn btn-success w-100" [disabled]="email.invalid"
                        [style.color]="'#c2b6a6'" [style.background-color]="email.invalid ?'#e0e0e0':'#3f51b5'" 
                        style="font-weight: 700;">
                        RESET MY PASSWORD
                    </button>
                        
                        
                     
                    </div>
                    
                    
                    <div class="form-group">
                        Already Registered? <a href="www.google.com">Login</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
