<div class="container-fluid">
    
    <div class="row">
        
        <div class="col-sm-6 signup">
            <form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm" #myForm="ngForm">
                    <div class="form-group">
                        <h2>Sign Up</h2>
                        <h5 style="color: gray;">Enter details to create your account</h5>
                    </div>
                    <div class="form-group">
                        <label for="title" style="padding-right: 10px;">Title: </label>
                            <div class="radio" style="padding-right: 10px;"  *ngFor="let method of title">
                                <input type="radio" name="title" id="title" formControlName="title" [value]="method.id">
                                <label for="title">{{method.name}}</label>
                            </div>
                    </div>

                    <div class="form-group">
                        <label for="role" >Role*</label>  
                            <select name="role"  id="role" formControlName="role" class="form-control">
                                <option value=""></option>
                                <option *ngFor="let method of role" [value]="method.id">
                                    {{method.name}}
                                </option>
                            </select>
                    </div>

                    <div class="form-group">
                        <label for="firstName" >First Name*</label> 
                        <input type="text" id="firstName" placeholder="First Name" class="form-control"
                            formControlName="firstName" minlength="5"
                            [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" required>


                        <div class="mat-error ng-tns-c77-3 ng-star-inserted" role="alert" style="color: red; font-size: small;" *ngIf="f.firstName.touched && f.firstName.invalid">
                            <div *ngIf="f.firstName.errors.required">* First Name is Required</div>
                            <div *ngIf="f.firstName.errors.minlength">First Name contains atleast 5 characters</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lastName" >Last Name*</label> 
                        <input type="text" id="lastName" placeholder="Last Name" class="form-control"
                            formControlName="lastName" minlength="5"
                            [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" required>

                        <div class="mat-error ng-tns-c77-3 ng-star-inserted" role="alert" style="color: red; font-size: small;" *ngIf="f.lastName.touched && f.lastName.invalid">
                            <div *ngIf="f.lastName.errors.required">* Last Name is Required</div>
                            <div *ngIf="f.lastName.errors.minlength">Last Name required atleast 2 characters</div>
                        </div>
                    </div>

                    
                    <div class="form-group">
                        <label for="email" >Email Id*</label> 
                        <input type="email" id="email" placeholder="Email" class="form-control" formControlName="email"
                            name="email" minlength="15" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                            required>


                        <div class="mat-error ng-tns-c77-3 ng-star-inserted" role="alert" style="color: red; font-size: small;" *ngIf="f.email.touched && f.email.invalid">
                            <div *ngIf="f.email.errors.required">* Email is Required</div>
                            <div *ngIf="f.email.errors.minlength">Please enter valid email address e.g. exampleusername@xyzdomain.com</div>
                            <div *ngIf="f.email.errors.pattern">Invalid Email</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phoneNumber" >Contact*</label>
                                <input type="tel" formControlName="phoneNumber" id="phoneNumber" name="phoneNumber"
                                placeholder="Phone number" class="form-control">
        
                                <div class="mat-error ng-tns-c77-3 ng-star-inserted" role="alert" style="color: red; font-size: small;" 
                                    *ngIf="f.phoneNumber.touched && f.phoneNumber.invalid">
        
                                    <div *ngIf="f.phoneNumber.errors.required">Contact number is Required</div>
                                    <div *ngIf="f.phoneNumber.errors.minlength">Contact required 10 digit</div>
                                    <div *ngIf="f.phoneNumber.errors.maxLength">Contact required 10 digit</div>
                                    <div *ngIf="f.phoneNumber.errors.pattern">Contact number should be a number</div>
                              </div>
                    </div>
                
                    <div class="form-group">
                        <label for="dateOfBirth" >Date of Birth*</label>   
                                <input type="date" id="dateOfBirth" placeholder="DOB" class="form-control" formControlName="dateOfBirth"
                                name="dateOfBirth">  
                    </div>

                    <div class="form-group">
                        Already Registered? <a href="www.google.com">Login</a>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success w-100" [disabled]="!myForm.form.valid">Submit</button>
                    </div>
            </form>
        </div>
    </div>
</div>