/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page-title {
    font-weight: 500;
}


.toolbar{
    background-color: rgb(187, 202, 216);
    border-radius: 5px;
    color:black;
    height: 40px;

}

.toolbar-spacer{
    flex: 1 1 auto;
} 