<html>

<body>
  <div class="container">
    <div class="row">
      <div class = "col-md-4">
      </div>
      <div class = "col-md-4 p-3">
        <h1>Patient Details</h1>
      </div>
      <div class = "col-md-4 p-3">
      <img class="float-end pointer" height="30" width="30" src="/assets/excel.png" (click)="exportCSV()"/>
      </div>
  </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm">
      
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-12">
            <div>
              <p><b>Personal Information :-</b></p>
              <div class="row">
                <div class="col-sm-1">
                  Sr.No: <input type="text" class="form-control" placeholder="Sr.No">
                </div>
                <div class="col-sm-1 ">
                  Mr:<br><input type="radio" class="form-group" formControlName="title" value="Mr">
                </div>
                <div class="col-sm-1 ">
                  Mrs:<br><input type="radio" class="form-group" formControlName="title" value="Mrs">
                </div>
                <div class="col-sm-1 ">
                  Ms:<br><input type="radio" class="form-group" formControlName="title" value="Ms">
                </div>
                <div class="col-sm-2">
                  First Name: <input type="text" class="form-control" placeholder="" formControlName="first_name"
                    name="first_name">
                  <div class="text-danger" *ngIf="f.first_name.touched && f.first_name.invalid">

                    <div *ngIf="f.first_name.errors.required">* First name cannot be empty</div>
                    <div *ngIf="f.first_name.errors.minlength">Please don’t use abbreviations</div>

                  </div>
                </div>
                <div class="col-sm-2 ">
                  Last Name: <input type="text" class="form-control" placeholder="" formControlName="last_name"
                    name="last_name">
                  <div class="text-danger" *ngIf="f.last_name.touched && f.last_name.invalid">

                    <div *ngIf="f.last_name.errors.required">* Last name cannot be empty</div>
                    <div *ngIf="f.last_name.errors.minlength">Please don’t use abbreviations</div>

                  </div>
                </div>
                <div class="col-sm-2">
                 <!--  Enter DOB: <input type="date" placeholder="DD/MM/YYYY" [(ngModel)]="age" class="form-control" formControlName="dob" (change)="ageCalculator()"/> -->
                  Enter DOB:<input type="text" placeholder="DD/MM/YYYY" formControlName="dob" class="form-control"
                    bsDatepicker [bsConfig]="{ isAnimated: true }">
                  <!--   Age: <p *ngIf="age">{{ showAge }}</p> -->
                  <div class="text-danger" *ngIf="f.dob.touched && f.dob.invalid">

                    <div *ngIf="f.dob.errors.required">* Please enter a valid date</div>


                  </div>
                </div>
                <div class="col-sm-2 ">
                
                  Age: <input type="text" class="form-control" formControlName="patient_age" placeholder="" name="age">
                  <div class="text-danger" *ngIf="f.patient_age.touched && f.patient_age.invalid">

                    <div *ngIf="f.patient_age.errors.required">* Please enter a valid date of birth</div>


                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div>

              <div class="row">
                <div class="col-sm-1">
                  Gender
                </div>
                <div class="col-sm-1 ">
                  Male:<br><input type="radio" formControlName="gender" value="male">
                </div>
                <div class="col-sm-1 ">
                  Female:<br><input type="radio" formControlName="gender" value="female">
                </div>
                <div class="col-sm-1 ">
                  Other:<br><input type="radio" formControlName="gender" value="other">
                </div>
                <div class="col-sm-2 ">
                  Race: <input type="text" class="form-control" formControlName="race" placeholder="" name="race">
                  <div class="text-danger" *ngIf="f.race.touched && f.race.invalid">

                    <div *ngIf="f.race.errors.required">* Race field cannot be empty</div>
                    <div *ngIf="f.race.errors.minlength">Please don’t use abbreviations</div>


                  </div>
                </div>
                <div class="col-sm-2 ">
                  Ethinicity: <input type="text" class="form-control" formControlName="ethinicity" placeholder=""
                    name="ethinicity">
                  <div class="text-danger" *ngIf="f.ethinicity.touched && f.ethinicity.invalid">

                    <div *ngIf="f.ethinicity.errors.required">* Ethnicity field cannot be empty</div>
                    <div *ngIf="f.ethinicity.errors.minlength">Please don’t use abbreviations</div>


                  </div>
                </div>
                <div class="col-sm-2 ">
                  Language Known: <input type="text" class="form-control" formControlName="lang_known" placeholder=""
                    name="lang">
                  <div class="text-danger" *ngIf="f.lang_known.touched && f.lang_known.invalid">

                    <div *ngIf="f.lang_known.errors.required">* Languages Known cannot be empty</div>
                    <div *ngIf="f.lang_known.errors.minlength">Please don’t use abbreviations</div>


                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <hr />

      <div class="row">

        <div class="col">
          <p><b>Contact Information :-</b></p>
          <div class="row">
            <div class="col-sm-6 ">
              Email: <input type="text" class="form-control" formControlName="email" name="email">
              <div class="text-danger" *ngIf="f.email.touched && f.email.invalid">

                <div *ngIf="f.email.errors.pattern">*Please enter your email address e.g. exampleusername@xyzdomain,com
                </div>
                <div *ngIf="f.email.errors.minlength">Please don’t use abbreviations</div>


              </div>
            </div>
            <div class="col-sm-6 ">
              Phone Number: <input type="text" class="form-control" formControlName="ph_number" name="phnumber1"
                ng2TelInput>
              <div class="text-danger" *ngIf="f.ph_number.touched && f.ph_number.invalid">

                <div *ngIf="f.ph_number.errors.required">*Please provide the telephone number</div>
                <div *ngIf="f.ph_number.errors.minlength">Please validate the phone number. Telephone number has XX
                  number of digits</div>



              </div>
            </div>
            <div class="col-sm-6 ">
              Address: <input type="text" class="form-control" [(ngModel)]="address" formControlName="address"
                name="address">
              <div class="text-danger" *ngIf="f.address.touched && f.address.invalid">

                <div *ngIf="f.address.errors.required">* Please provide the postal address</div>



              </div>
            </div>
            <div class="col-sm-6 ">
              City: <input type="text" class="form-control" [(ngModel)]="city" formControlName="city" name="city">

            </div>
            <div class="col-sm-6 ">
              Pin Code: <input type="text" class="form-control" [(ngModel)]="pincode" formControlName="pincode"
                name="pincode">

            </div>

            <div class="col-sm-6 ">
              State: <input type="text" class="form-control" [(ngModel)]="state" formControlName="state" name="state">
            </div>
            <div class="col-sm-6 ">
              Country: <input type="text" class="form-control" [(ngModel)]="country" formControlName="country"
                name="country">
            </div>
           <!--   <div class="col-sm-6">
            <ngx-intl-tel-input  [preferredCountries]="[CountryISO.UnitedStates, CountryISO.UnitedKingdom]"
            [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
            [selectedCountryISO]="CountryISO.UnitedKingdom" [phoneValidation]="true" name="ph_number" PhoneNumberFormat.International [(ngModel)]="phone" formControlName="ph_number" (change)="phonecode()">
          </ngx-intl-tel-input>
          </div> -->
          </div>
        </div>
        <div class="col" style="border-left: 6px solid grey; height: 350px;">
          <p><b>Emergency Contact Information :-</b></p>
          <div class="row">
            <div class="col-sm-1 ">
              Mr:<br><input type="radio" class="form-group" formControlName="emgr_title" value="mr">
            </div>
            <div class="col-sm-1 ">
              Mrs:<br><input type="radio" class="form-group" formControlName="emgr_title" value="mrs">
            </div>
            <div class="col-sm-1 ">
              Ms:<br><input type="radio" class="form-group" formControlName="emgr_title" value="ms">
            </div>
            <div class="col-sm-4 ">
              First Name: <input type="text" class="form-control" placeholder="" formControlName="emgr_fname"
                name="emgrfirstname">
                <div class="text-danger" *ngIf="f.emgr_fname.touched && f.emgr_fname.invalid">

                  <div *ngIf="f.emgr_fname.errors.required">* First name cannot be empty</div>
                  <div *ngIf="f.emgr_fname.errors.minlength">Please don’t use abbreviations</div>

                </div>
            </div>
            <div class="col-sm-4 ">
              Last Name: <input type="text" class="form-control" placeholder="" formControlName="emgr_lname"
                name="emgrlastname">
                <div class="text-danger" *ngIf="f.emgr_lname.touched && f.emgr_lname.invalid">

                  <div *ngIf="f.emgr_lname.errors.required">* First name cannot be empty</div>
                  <div *ngIf="f.emgr_lname.errors.minlength">Please don’t use abbreviations</div>

                </div>
            </div>
            <div class="col-sm-5 ">
              Email: <input type="text" class="form-control" formControlName="emgr_email" name="emgremail">
              <div class="text-danger" *ngIf="f.emgr_email.touched && f.emgr_email.invalid">

                <div *ngIf="f.emgr_email.errors.pattern">*Please enter your email address e.g. exampleusername@xyzdomain,com
                </div>
                <div *ngIf="f.emgr_email.errors.minlength">Please don’t use abbreviations</div>


              </div>
            </div>
            <div class="col-sm-4 ">
              Phone Number: <input type="text" class="form-control" formControlName="emgr_phnumber" name="emgrphnumber"
                ng2TelInput>
                <div class="text-danger" *ngIf="f.emgr_phnumber.touched && f.emgr_phnumber.invalid">

                  <div *ngIf="f.emgr_phnumber.errors.required">*Please provide the telephone number</div>
                  <div *ngIf="f.emgr_phnumber.errors.minlength">Please validate the phone number. Telephone number has XX
                    number of digits</div>
  
  
  
                </div>
            </div>
            <div class="col-sm-3 ">
              Relation: <select name="relation" class="form-control" formControlName="emgr_relation" id="relation">
                <option value="none">SELECT</option>
                <option value="mother">Mother</option>
                <option value="father">Father</option>
                <option value="brother">Brother</option>
                <option value="sister">Sister</option>
              </select>
            </div>
            <div class="col-sm-6 ">
              Address: <input type="text" class="form-control" [(ngModel)]="emgr_address" formControlName="emgr_address"
                name="emgraddress">

              <div class="text-danger" *ngIf="f.emgr_address.touched && f.emgr_address.invalid">

                <div *ngIf="f.emgr_address.errors.required">* Please provide the postal address</div>



              </div>
            </div>
            <div class="col-sm-6 ">
              City: <input type="text" class="form-control" [(ngModel)]="emgr_city" formControlName="emgr_city"
                name="emgrcity">
            </div>
            <div class="col-sm-6 ">
              Pin Code: <input type="text" class="form-control" [(ngModel)]="emgr_pincode"
                formControlName="emgr_pincode" name="emgrpincode">
            </div>
            <div class="col-sm-6 ">
              State: <input type="text" class="form-control" [(ngModel)]="emgr_state" formControlName="emgr_state"
                name="emgrstate">
            </div>
            <div class="col-sm-6 ">
              Country: <input type="text" class="form-control" [(ngModel)]="emgr_country" formControlName="emgr_country"
                name="emgrcountry">
            </div>
            <div class="col-sm-6 ">
              Same As Patient: <input type="checkbox" id="addrcheck" name="addrcheck" value="addrcheck"
                (change)="addresscheck($event)">
            </div>

            <div class="col">
              Do You Want To Access Patient Portal :
              <input type="radio" name="patientaccess" value="Yes" (click)="setradio('Yes')" > Yes
              <input type="radio" name="patientaccess" value="No" (click)="setradio('No')" [checked]='true' > No
            </div>

          </div>
        </div>

      </div>



      <hr />
      <div *ngIf="isSelected('Yes')">
        <div class="row">
          <div class="">
            Allergies :
            Yes:<input type="radio" class="form-group" formControlName="allergy_option" value="yes">
            No:<input type="radio" class="form-group" formControlName="allergy_option" value="no">
          </div>
          <div class="col-sm-3 ">
            Allergy ID: <select name="allergy_id" formControlName="allergy_id" ng-change="onChangeAllergyName()"
              class="form-control">
              <option value="none">SELECT</option>

              <option ngValue="allergy.id" *ngFor="let allergy of allergy_idlist">{{allergy.allergy_id}}</option>

            </select>
          </div>
          <div class="col-sm-3 ">
            Allergy Name: <select name="allergy_name" formControlName="allergy_name" class="form-control">
              <option value="none">SELECT</option>
              <option ngValue="allergynm.id" *ngFor="let allergynm of allergy_namelist">{{allergynm.allergy_name}}
              </option>


            </select>
          </div>
          <div class="col-sm-3 ">
            Allergy Type: <select name="allergy_type" formControlName="allergy_type" class="form-control">
              <option value="none">SELECT</option>
              <option *ngFor="let allergytype of allergy_typelist">{{allergytype.allergy_type}}</option>


            </select>
          </div>
          <div class="col-sm-3 ">
            Other Allergy: <input type="text" class="form-control" formControlName="other_allergy" name="other_allergy">
          </div>
          <div class="col-sm-3">
            Is Allergy Fatal :
            Yes:<input type="radio" class="form-group" formControlName="allergy_fatal" value="yes">
            No:<input type="radio" class="form-group" formControlName="allergy_fatal" value="no">
          </div>
          <div class="col-sm-3 ">
            Description: <input type="text" class="form-control" formControlName="allergy_desc" name="allergy_desc">

          </div>

        </div>
      </div>

      <hr />
      <div class="center" style="text-align: center;">
        <button class="btn btn-primary">Submit</button>
        &nbsp;&nbsp;&nbsp;<button class="btn btn-info align:center">Back</button>

      </div>
    </form>
  </div>


</body>

</html>