/* .button {
    background :  #1570E4;

border-radius : 2px;

font : Open Sans (600);

font-size : 13px;

color : #FFFFFF;
  }

  .select {
    Font: Open Sans (300), 12px, #808B9A;
    Font: Open Sans (600), 11px, #2F3E53;
    Font: Open Sans (600), 11px, #808B9A;
    background: #FFFFFF, Corner Radius 1;


  } */