<mat-nav-list >
    <div class="profile-card" >
        
        <img  *ngIf="currentRole == 'Physician'" src="/assets/doctor.png" class="center">
        <img  *ngIf="currentRole == 'Patient'" src="/assets/userImage.png" class="center" >
        <img  *ngIf="currentRole == 'Admin'" src="/assets/admin.png" class="center" >
        <div class="header" >
            <p>{{name}}</p>
            <p id="role">{{currentRole}}</p>
           
            
        </div>
    </div>

    <br>
    <hr>
  
  


    <div *ngFor = "let routerLink of routerLinks">
        <mat-list-item routerLinkActive="list-item-active" routerLink='{{routerLink.link}}'>{{routerLink.name}} </mat-list-item>
      </div>
    
    
    <mat-divider></mat-divider>
  
    
 <mat-nav-list>
