<mat-nav-list>
    <div class="profile-card">
        
        <img src="/assets/userImage.png" alt="Admin" hight="100" width="100">
        <div class="header">
            <h2>Admin</h2>
            <h4>admin@email.com</h4>
        </div>
    </div>
    <h2 matSubheader>Scheduling</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/schedule">Scheduling</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/inbox">Inbox</a>

    <mat-list-item (click)="showNoteSubmenu = !showNoteSubmenu" class="parent">
        <span class="full-width">Notes</span>
        <mat-icon class="menu-button" [ngClass]="{'rotated' : showNoteSubmenu}">expand_more</mat-icon>
    </mat-list-item>
    <div class="submenu" [ngClass]="{'expanded' : showNoteSubmenu}" *ngIf="showNoteSubmenu">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/send-notes">Send New Note</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/received-notes">Receive Note</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/sent-notes">Receive Note</a>
    </div>
  
    <mat-divider></mat-divider>
  
    
 <mat-nav-list>
