
<div class= "d-flex">
    <ul ngbNav #noteNav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
        <li ngbNavItem = "send">
            <a ngbNavLink>Send Notes</a>
            <ng-template ngbNavContent>
                <app-send-note></app-send-note>
            </ng-template>
        </li>
        <li ngbNavItem = "received">
            <a ngbNavLink>Received Notes</a>
            <ng-template ngbNavContent>
              <!-- <app-send-note></app-send-note> -->
            </ng-template>
        </li>
        <li ngbNavItem = "sent">
            <a ngbNavLink>Sent Notes</a>
            <ng-template ngbNavContent>
                <!-- <app-sent-note></app-sent-note> -->
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="noteNav" class="ml-4 container"></div>
</div>
