<div class="container-fluid">
    <div class="row">
       <div class="col-sm-6 d-none d-lg-block">
            <img src="../../assets/bg-02.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-sm-6">
        <div class="wrapper">
            <div class="change-pass">

                
                <form [formGroup]="form" (ngsubmit)="submit()" >
                    <div class="form-wrapper">
                        <div class="welcome_msg">
                            <h2>Change Password</h2>
                            <h6 style="color: gray; padding-bottom: 50px;">Let Us Help You</h6>
                        </div>
                        


                        
                        <div class="row" style="display: flex;">
                            <div class="form-group">
                                <div class="form-group has-error">
                                    <input type="password" id="newpassword" placeholder="Enter new password" class="form-control"
                                        formControlName="newpassword">

                                    <div class="mat-error ng-tns-c77-3 ng-star-inserted" role="alert" style="color: red; font-size: small;"
                                        *ngIf="form.get('newpassword')?.touched && form.get('newpassword')?.invalid">
                                        <div *ngIf="form.get('newpassword')?.errors?.required">This field cannot be empty</div>
                                        <div *ngIf="form.get('newpassword')?.errors?.pattern">Password entry does not meet criteria.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row" style="display: flex;">
                            <div class="form-group">
                              

                                <div class="form-group has-error">
                                    <input type="password" id="confirmpassword" placeholder="Confirm new password" class="form-control"
                                        formControlName="confirmpassword" name="confirmpassword" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" required>
                                    
                                        <div class="mat-error ng-tns-c77-3 ng-star-inserted" role="alert" style="color: red; font-size: small;"
                                    *ngIf="f.confirmpassword.touched && f.confirmpassword.invalid">
        
                                        <div *ngIf="f.confirmpassword.errors.required">This field cannot be empty</div>
                                        <div *ngIf="f.confirmpassword.errors.pattern">Password entry does not meet criteria.</div>
                                        <div *ngIf="f.confirmpassword.errors.mustmatch">Password entries don’t match.</div>

                                    </div>
                                </div>
                            <div class="form-btn" style="padding-block: 50px;">
                               
                                <button class="btn btn-success w-100" [disabled]="confirmpassword.invalid"
                                [style.color]="'#c2b6a6'" [style.background-color]="confirmpassword.invalid ?'#e0e0e0':'#3f51b5'" 
                                style="font-weight: 700;">
                                RESET MY PASSWORD
                            </button>
                            </div>
                            
                            
                            <div class="form-group">
                                Already Registered? <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Login</a>
                            </div>
    
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
